*{
    margin:0;
    padding: 0;
    box-sizing:border-box;

}
body{
    font-family:"Roboto","Helvetica Neue";
    background-color: rgb(178, 188, 207);
    color: rgb(4, 25, 33);
    padding: 30;
    display: flex;
    justify-content: center;
    align-items:center;
     min-height: 100vh;





}
form{
    background-color: azure;
    padding:30px;
    border-radius:10px;
    box-shadow:0 10px 30px rgbs(0,0,0,0.15);
    max-width:600px;
    width:100%;
    margin:0 auto;
    transition:transform 0.3s;






}
form:hover{
    transform:translateY(-10px);
}
formh2{
    color:beige;
    font-size:1.5rem;
    margin-bottom:15px;


}
label{
    font-weight:bold;
    display:block;
    margin-bottom: 5px;
    color:black;
}
input[type="text"],
input[type="email"] {
width:100%;
padding:12px;
margin-bottom: 20px;
border:1px solid black;
border-radius:5ox;
font-size:1rem;
transition:bordar 0.3s;
}


input[type="text"]:focus,
input[type="email"]:focus{
    border-color: grey;

}



button{
    background-color:khaki;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    font-size:1.1rem;
    cursor:pointer;
    transition:background-color 0.3s;

}


button:hover{
    background-color: coral;

}


#resumeOutput{
    margin-top:30px;
    background-color:#ffffff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    max-width:500px;
    width: 100%;
}

#resumeOutput h2{
    color:#333;
    font-size:1.75;
    margin-bottom:20px;
    text-align:center;

}



#resumeOutput p{
    font-size:1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;

}



#resumeOutput strong{
    color:#000000;

}

body::before{
    content:'';
    position:absolute;
    top:-50px;
    bottom:-50px;
    right:-50px;
    left:-50px;
    background:linear-gradient(120dag , #fff,#ccc);
    z-index:-1;
    filter:blur(100px);
}

